* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}
.calculator {
  background-color: #252424;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 300px;
}
.display {
  width: 100%;
  height: 50px;
  background-color: #252424;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: right;
  padding: 10px;
  font-size: 24px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.btn {
  padding: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
